.itemDetail {
  width: 400px;
  height: 40%;
  border: 5px solid #728DA5;
  box-sizing: border-box;
  background-color: #4A6B8A;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.title {
  margin: 1rem 0.5rem;
}

.imageContainer {
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 50%;
    max-height: 50%;
    object-fit: cover;
}

.description {
  margin: 1rem 0.5rem 0.5rem;
}

.price {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.5rem;
}

.button {
    width: 70%;
    font-size: 1rem;
    font-weight: 200;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #E0F2F7;
}
