div.item {
  /* width: 200px; */
  width: 20%;
  border: 5px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
div.item .title {
  margin: 1rem 0.5rem;
}

div.item .description {
  margin: 1rem 0.5rem 0.5rem;
}
