.header {
    /* overflow: hidden; */
}

#navigation {
    width: 100%;
    background-color: #0B4C5F;
    margin:auto;
    padding: 5px;
    display: grid;
    grid-template-columns: 10fr 10fr;
	/* position: fixed; */
    /* z-index: 1; */
    /* top: 0;
    left: 0; */
    /* box-shadow: 5px 5px 3px 1px #999; */
    /* align-items: center; */
}

#navigation ul {
    /* list-style: none;
    display: flex;
    width: 80%;
    align-self: center; */

    padding: 0;
    margin: auto 0;
}

#navigation li {
	/* display: inline;
    padding-right: 20px;
    color: #01A9DB;
    align-content: center; */

    float: left;
    list-style: none;
    padding: 0.5em 1em;
    line-height: 1.5em;
}

#navigation li a {
    /* text-decoration: none;
    display: block; */
    text-decoration: none;
    font-weight: bold;
    display: block;
}

/* Pseudo Clases */
#navigation li a:link {
    color: #E0F2F7;
}

#navigation li a:visited {
    color: #E0F2F7;
}

/* Pesudo clases dinámicas */
#navigation li a:active {
    color: red;
}

#navigation li a:hover {
    text-decoration: none;
    color: #0B4C5F;
    background-color: #E0F2F7;
}

#navigation li a:focus {
	text-decoration: none;
    color:#0B4C5F;
	background-color: #A9E2F3;
    outline: none;
}

.logo-inicio {
  height: 10vmin;
  pointer-events: none;
}
